@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    outline-color: none;
    box-sizing: border-box;
    font-size: 16px;

    font-family: 'Poppins', sans-serif;
}