.pokemon-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.pokemon-container .pokemon-item {
    background-color: #1d2730;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 25%;
}

.pokemon-container .pokemon-item img {
    max-width: 300px;
    max-width: 100%;
    display: block;
}

.pokemon-container .pokemon-item span {
    color: #fff;
    margin: 5px 10px;
    padding: 0;
}

.pokemon-container .pokemon-item .pokemon-name {
    font-size: 1.2rem;
}

.pokemon-container .pokemon-item .orange {
    background-color: #e3350d;
    padding: 5px 20px;
    display: inline;
    border-radius: 5px;
}

.pokemon-container .pokemon-item .blue {
    background-color: #4592c4;
    padding: 5px 20px;
    display: inline;
    border-radius: 5px;
}
