* {
    margin: 0;
    padding: 0;
    outline-color: none;
    box-sizing: border-box;
    font-size: 16px;
}

.header {
    padding: 25px 0;
    background-color: #111;
}

.header a {
    color: #fff;
}
